modules = ["nodejs-20", "web", "bash", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0", "javascript_object_storage:2.0.0"]
expertMode = true

[userenv]

[userenv.shared]
S3_ENDPOINT = "http://rustfs-rustfs-fb8e9a-57-129-78-11.traefik.me/"
S3_ACCESS_KEY_ID = "4gXJF9MxtL3eZiynuvGU"
S3_SECRET_ACCESS_KEY = "nh0Bi3XE8FcQodW2v4OrRuxfmtaGJ9YPkLslUHNK"
S3_REGION = "auto"
S3_BUCKET_NAME = "aydan-restaurant"
